body {
  font-family: Inter, Roboto;
  background-color: aliceblue;
}

.App {
  /* text-align: center; */
  background: #C2CAE8;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}
*/

.small {
  font-size: 0.75rem;
}

h1,
h2,
h3,
p {
  padding: 1rem;
}

.Personnes {
  background-color: red;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-between;

}

.Personnes img {
  width: 58px;
  height: 57px;
  left: 106px;
  top: 416px;
  padding: 12%;
}

.Personnes h3 {
  text-align: center;
}

.ApplicationUnitaire {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #1c42ce;
}

.ApplicationUnitaire img {
  width: 30%;
}

.ApplicationUnitaire h3 {
  margin: 0;
}

.ApplicationUnitaire p {
  margin: 0;
}

.texteApp {
  display: flex;
  flex-direction: column;
}

.groupeApp {
  display: flex;
  flex-direction: row;
  padding: 3%;
}

button{
  background-color: #1c42ce;
  color: white;
  border: none;
  padding: 1%;
  border-radius: 5px;
  margin: 1%;
}