:root {
  --border-bloc: 3px solid #011627;
}

body {
  font-family: 'Overpass Mono' 'Inter', 'Open Sans', Verdana, Roboto;
  background-color: #f6f7f8;
  color: #011627;

  background-image: linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px);
  background-attachment: fixed;
  background-size: 15px 15px;
}

/*
.App {
  text-align: center; 
}
*/

.union1 {
  position: fixed;
  top: 0;
  left: -206px;
  margin: 0px;
  z-index: -1;
  rotate: 12%;
  transform: rotate(22deg);
  padding: 0px;
}

.union2 {
  position: fixed;
  top: 306px;
  left: 153px;
  margin: 0px;
  z-index: -1;
  transform: rotate(5deg);
  padding: 0px;
}

.union3 {
  position: fixed;
  top: -74px;
  right: -129px;
  margin: 0px;
  z-index: -1;
  transform: rotate(-22deg);
  padding: 0px;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-itemApplications: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}
*/


h1,
h2,
h3,
p {
  padding: 1rem;
  text-align: start;
}



h1 {
  text-align: center;
  font-size: 5rem;

  border: 2px 5px 12px 5px inherit;
  border-radius: 16px;
  background-color: #FF3366;
  padding: 10px;
}

body {
  margin: 5%;
}

@media (min-width: 1200px) {
  body {
    margin: 10%;
  }

  h1 {
    font-size: 7rem;
  }

}

.boite {
  border-radius: 16px;
  border: #011627;

  border-top: 3px solid;
  border-right: 9px solid;
  border-bottom: 10px solid;
  border-left: 3px solid;
}

.boite:hover {

  border-top: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-left: 3px solid;

  cursor: pointer;
}

/* about */

.about p,
textarea,
a {
  outline: none;
  font-family: 'Inter', 'Open Sans', Verdana, Roboto;
  padding: 10px;
  margin-bottom: 7.5%;
}

.about h2 {
  background-color: #FF3366;
  padding: 10px;
}



/* Personnes */

.Personnes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.itemPersonne {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: end;
  justify-content: flex-end;
  margin: 15%;

  background-color: #20A4F3;
  padding: 10px;

  height: -webkit-fill-available;
  /*   margin-block: 0;
 */

}


.Personnes img {
  max-width: 75%;

  border-radius: 50%;
}

.Personnes h3 {
  padding: 0;
  align-items: right;
  justify-content: right;

  border: 0;

  background-color: #20A4F3;
  padding: 0;

  font-size: 0.5em;
}


@media (min-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
  }

  .about h2 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
  }

  .about p {
    grid-area: 2 / 1 / 3 / 2;
  }

  .Personnes {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about h3{
    font-size: 1em;
  }
}




/* Application */


.ApplicationUnitaire {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 600px) {
  .ApplicationUnitaire {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* texteApp */

.ApplicationSection h2 {
  background-color:#FF3366;
  margin-top: 15%;
}

.itemApplication {
  display: grid;
  grid-template-columns: 33%;
  grid-template-rows: 33%;

  background-color: #2EC4B6;
  padding: 10px;
  grid-template-rows: auto;

  /*   place-content: end;
 */

}


.itemApplication img {
  /*   grid-area: 1 / 1 / 3 / 2; */
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  /*centrer l'image dans la ligne*/
  align-self: center;

  width: 100%;

  /* height: 100%; */

  /*forcer la longueur de l'image égale à la largeur*/
  object-fit: cover;
  /*cover, fill, contain, scale-down, none*/
  overflow: hidden;

}

.itemApplication p,
.itemApplication h3 {
  padding: 0;
  padding-left: 15%;
  padding-right: 10%;
}

.itemApplication h3 {
  /* grid-area: 1 / 2 / 2 / 3; */
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;

  /*centrer le texte dans le bas de la grille*/
  align-self: end;

}

.itemApplication p {
  /*   grid-area: 2 / 2 / 3 / 3;*/

  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}

.itemApplication,
button {

  margin: 5%;
}

.Entretien {
  margin-top: 250px;



  background-color: #f6f7f8;
  padding: 10px;
}